sefine_mission/.vscode
sefine_mission/best_m.engine
sefine_mission/best_m.onnx
sefine_mission/best_m.pt
sefine_mission/test_1.mp4
sefine_mission/test_2.mp4
sefine_mission/test.mp4
sefine_mission/yolo11n.engine
sefine_mission/yolo11n.pt
sefine_mission/yolo11n.onnx
sefine_mission/new_sky.jpg
sefine_mission/sky.jpg
